<template>
  <h2 class="text-center">{{ productData.title }}</h2>
  <FormComponent :productData="productData" />
</template>

<script lang="ts" setup>
  import productData from "../../../businesscards.json";
  import FormComponent from "../components/FormComponent.vue";
</script>

