<template>
  <div class="poster-selector">
    <form>
      <div
        v-for="property in productData.properties"
        :key="property.slug"
        class="form-group mb-4"
      >
        <label class="font-bold mb-2">{{ property.title }}</label>
        <select
          class="w-full border border-gray-300 p-2"
          v-model="productConfiguration[property.slug]"
        >
          <option
            v-for="option in property.options"
            :key="option.slug"
            :value="option.slug"
          >
            {{ option.name }}
          </option>
        </select>
      </div>
      <Button @click="addToCart" severity="primary" label="Add to cart" :disabled="!productConfigurationCheck.isValid" />
    </form>
  </div>
</template>

<script lang="ts" setup>
  import Button from "primevue/button";
  import { reactive, ref, watch } from "vue";
  import { useToast } from "primevue/usetoast";
  import {
    ProductConfiguration,
    ValidationResult,
  } from "../types/types";
  import { isProductConfigurationValid } from "../utils/productConfiguration";

  const props = defineProps({
    productData: {
      type: Object,
      required: true,
    },
  });

  const toast = useToast();

  const productConfiguration: ProductConfiguration = reactive(
    {}
  ) as ProductConfiguration;
  const productConfigurationCheck = ref<ValidationResult>({
    isValid: false,
  });

  props.productData.properties.forEach((property) => {
    productConfiguration[property.slug] = property.options[0].slug;
  });

  const addToCart = () => {
    toast.add({
      severity: "success",
      summary: "Added to cart",
      detail: "The product has been added to the cart",
    });
  };

  watch(
    () => productConfiguration,
    (newProductConf) => {
      productConfigurationCheck.value = isProductConfigurationValid(
        newProductConf,
        props.productData.excludes
      );
    },
    { deep: true }
  );

  watch(
    () => productConfigurationCheck.value,
    (newProductConfigurationCheck) => {

        toast.removeAllGroups();
      if (!newProductConfigurationCheck.isValid) {
        const matchedMesssage = newProductConfigurationCheck.matchedSelections
          ?.map((selection) => {
            return `${selection.property}: ${selection.option}`;
          })
          .join(", ");


        toast.add({
          severity: "error",
          summary: "Invalid selection",
          detail: `The following selections are not valid: ${matchedMesssage}`,
        });
      }
    }
  );
</script>

<style scoped>
  .poster-selector {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
  }
</style>
